*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Georgia, serif;
}
body{
    background-image:url(https://i.ytimg.com/vi/4l6J5jhRgos/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size:4000px;
    overflow-x: hidden;
    
}

.storage1{
    background-color:darkcyan;
    height:50px;
    text-decoration: none;
    text-transform:uppercase;
    display:flex;
    justify-content:end ;
    
}
.storage,a{
    margin:12px;
    margin-right:35px;
    text-decoration: none;
    text-transform:uppercase;
    color:black;
    
}
.nav2{
    background-color: #151c3b ;
    height:120px;
    display:flex;
    justify-content: end;
    border:2px solid black;
    
}
.nav,.tiger{
    color:aliceblue;
    text-decoration: none;
    text-transform: capitalize;
    margin:40px;
    margin-top:80px;
}
#told{
    height:70px;
    margin-top:10px;
    position:absolute;
    right:1320px;
    top:45px;
    font-size:80px;
    color:yellowgreen;
}
.logo1{
    position:relative;
    top:90px;
    right:600px;
    color:deeppink;
}
.First{
    border:1px solid skyblue;
    height:500px;
    background-color: #151c3b;
    border-radius:1px 1px 80px 80px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    color:aliceblue;
    text-align: center;
    padding:80px;


}
#t1{
    margin:10px;
    padding:10px;
}
#t2{
    margin:10px;
    padding:10px;
}
#t3{
    margin:10px;
    padding:10px;
}
#t4{
    margin:10px;
    padding:10px;
}
#t5{
    margin:12px;
    padding:10px;
}
.title1{
    border:1px solid black;
    height:50px;
    width:250px;
    padding:10px;
    font-size: 22px;
    background-color: deeppink;
    border-radius: 40px;
    text-align: center;
   margin:auto;
   display:inline-block;
   cursor: pointer;

   margin:10px;
    
}
.title2{
    color:aliceblue;
    font-size: 30px;
    position: relative;
    left:100px;
    top:100px;
}
.toggle1{
    height:700px;
    width:1200px;
    border:2px solid skyblue;
    position:relative;
    top:200px;
    left:100px;
    border-radius: 40px;
 backdrop-filter: blur(30px);
}
.lab1{
    color:aliceblue;
    position: relative;
    top:100px;
    left:50px;
}
.form1{
    height: 40px;
    width:700px;
    position: relative;
    top:100px;
    left:400px;
    border:none;
    background-color: skyblue;
    border-radius: 10px;

}
.lab2{
    color:aliceblue;
    position:relative;
    top:150px;
    right:700px;
}
.form2{
    height: 40px;
    width:700px;
    position: relative;
    top:120px;
    left:450px;
    border:none;
    background-color: skyblue;
    border-radius: 10px;
    
}
.lab3{
    color:aliceblue;
    position:relative;
    top:170px;
    right:650px;
}
.form3{
    height: 40px;
    width:700px;
    position: relative;
    top:140px;
    left:450px;
    border:none;
    background-color: skyblue;
    border-radius: 10px;
    
}
.lab4{
    color:aliceblue;
    position:relative;
    top:190px;
    right:650px;
}
.form4{
    height: 40px;
    width:700px;
    position: relative;
    top:160px;
    left:450px;
    border:none;
    background-color: skyblue;
    border-radius: 10px;
    
    
}
.lab5{
    color:aliceblue;
    position:relative;
    top:210px;
    right:650px;
}
.form5{
    height: 40px;
    width:700px;
    position: relative;
    top:180px;
    left:450px;
    border:none;
    background-color: skyblue;
    border-radius: 10px;
    
}
.lab6{
    color:aliceblue;
    position:relative;
    top:220px;
    right:650px;
}
.form6{
    height: 150px;
    width:700px;
    position: relative;
    top:200px;
    left:450px;
    border:none;
    background-color: skyblue;
    border-radius: 10px;
}
.lab7{
    color:aliceblue;
    position:relative;
    top:300px;
    right:650px;
}
.font1{
    color:aliceblue;
     position: relative;
     top:300px;
     right:325px;

}
#acer{
    color:blue;
}
.form7{
   
    position: relative;
    top:300px;
    right:330px;
    border:none;
    background-color: skyblue;
    border-radius: 10px;
}
.btn1{
    color:aliceblue;
    background-color:orange;
    height:40px;
    width:80px;
    position:relative;
    top:300px;
    border-radius: 10px;
    left:600px;
    


}
.losix {
    background-color: dodgerblue;
    position: relative;
    top: 300px;
    height: 50px;
    

}

.loseven {
    color: aliceblue;
    position: relative;
    top: 12px;
    left: 130px;

}

.fourty {
    position: relative;
    top: 340px;
    left: 100px;
}

.fourtyone {
    position: relative;
    top: 340px;
    left: 460px;
}

.fourtytwo {
    position: relative;
    top: 340px;
    left: 800px;
}

.fourtythree {
    position: relative;
    top: 340px;
    left: 1150px;
}

.fourtyeight {
    position: relative;
    top: 350px;
    left: 100px;
}

.fourtynine {
    color: aliceblue;
    font-size: 25px;
}

.fourtyseven {
    color:cornflowerblue;
    line-height: 25px;
}

.fifty {
    position: relative;
    top: 220px;
    left: 460px;
}

.fiftyone {
    color: aliceblue;
    font-size: 25px;
}

.fiftytwo {
    color:cornflowerblue;
    line-height: 25px;
}

.fiftythree {
    position: relative;
    top: 100px;
    left: 800px;
}

.fiftyfour {
    color: aliceblue;
    font-size: 25px;
}

.fiftyfive {
    color:cornflowerblue;
    line-height: 25px;
}

#doone {
    height: 80px;
    width: 100px;
    font-size: 90px;
    position: relative;
    left: 1230px;
    bottom:10px;
    color:yellowgreen;
}

.dotwo {
    color:deeppink;
    position: relative;
    left: 1220px;
    font-family: monospace;
    font-size: 18px;
    margin: 3px;
}

.dothree {
    color: aliceblue;
    position: relative;
    left: 1210px;
    font-size: 25px;
    letter-spacing: 2px;
    top: 10px;
}

.dofour {
    color: aliceblue;
    position: relative;
    left: 1245px;
    font-size: 25px;
    letter-spacing: 2px;
    top: 10px;
}

.dofive {
    color: aliceblue;
    position: relative;
    left: 1170px;
    font-size: 20px;
    letter-spacing: 2px;
    top: 10px;
    margin: 3px;
}

.dosix {
    color: aliceblue;
    position: relative;
    left: 1220px;
    font-size: 20px;
    letter-spacing: 2px;
    top: 20px;
    margin: 3px;
}

.dosev {
    color: aliceblue;
    position: relative;
    left: 1170px;
    font-size: 20px;
    letter-spacing: 2px;
    top: 20px;
    margin: 3px;
}

.doeight {
    color: aliceblue;
    position: relative;
    left: 1150px;
    font-size: 20px;
    letter-spacing: 2px;
    top: 40px;
    margin: 3px;
}

.donine {
    color: aliceblue;
    position: relative;
    left: 1180px;
    font-size: 30px;
    letter-spacing: 10px;
    top: 50px;
    margin: 3px;
}

.doten {
    height: 60px;
    background-color: black;
    color: aliceblue;
    padding: 20px;
}
.selector{
    background-color:darkcyan;
    border:none;
    font-size: 18px;
    padding:1px;
    margin:1px;
}